In [1]:
#IMPORTING THE NECESSARY PYTHON LIBRARIES

import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from random import randint
from time import sleep

In [2]:
# WEBSITE LINK TO SCRAPE THE DATA FROM
link= 'https://www.worldometers.info/coronavirus/'

In [3]:
website = requests.get(link)

In [4]:
# CREATING THE SOUP OBJECT

soup = BeautifulSoup(website.content,'lxml')

In [16]:
# CREATING EMPTY DATAFRAME FOR THE HEADERS AND THE ROWS

headers = []
rows = []

In [17]:
all_columns =[]

In [18]:
header = soup.find('table', id="main_table_countries_today")
head =header.find('thead').find('tr')
headers.append([data.text.replace('\n','') for data in head.find_all('th')])

In [27]:
row_data = header.find_all('tr')
for row in row_data:
    all_columns.append([data.text.strip() for data in row.find_all('td')])

In [28]:
new_data = all_columns[8:-5]

In [30]:
#CONVERTING THE THE DATA INTO A DATAFRAME

df = pd.DataFrame(new_data,columns=headers)

In [31]:
df.head(20)

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,World,"253,713,091","+44,582","5,111,448",+903,"229,427,018","+59,899","19,174,625","77,575",...,,,,All,,,,,,
1,1,USA,"47,891,997",,"783,439",,"37,897,335",,"9,211,223","11,309",...,"720,423,494","2,159,192","333,654,237",North America,7,426,0,,,"27,607"
2,2,India,"34,437,307",,"463,530",,"33,837,859","+11,376","135,918","8,944",...,"623,751,344","446,004","1,398,531,698",Asia,41,"3,017",2,,,97
3,3,Brazil,"21,953,838",,"611,255",,"21,146,255",,"196,328","8,318",...,"63,776,166","297,154","214,623,299",South America,10,351,3,,,915
4,4,UK,"9,524,971",,"142,835",,"7,792,578",,"1,589,558",999,...,"344,837,715","5,043,463","68,373,198",Europe,7,479,0,,,"23,248"
5,5,Russia,"9,031,851",,"254,167",,"7,754,764",,"1,022,920","2,300",...,"216,300,000","1,481,304","146,019,985",Europe,16,575,1,,,"7,005"
6,6,Turkey,"8,386,542",,"73,342",,"7,868,409",,"444,791","1,405",...,"101,609,828","1,187,333","85,578,217",Asia,10,"1,167",1,,,"5,197"
7,7,France,"7,275,149",,"118,137",,"7,007,731",,"149,281","1,049",...,"151,204,954","2,309,499","65,470,886",Europe,9,554,0,,,"2,280"
8,8,Iran,"6,031,575",,"128,042",,"5,683,458",,"220,075","3,533",...,"36,829,133","430,949","85,460,513",Asia,14,667,2,,,"2,575"
9,9,Argentina,"5,305,151",,"116,228",,"5,170,876",,"18,047",606,...,"25,622,546","559,907","45,762,145",South America,9,394,2,,,394
10,10,Spain,"5,047,156",,"87,673",,"4,889,801",,"69,682",394,...,"66,213,858","1,415,445","46,779,529",Europe,9,534,1,,,"1,490"
11,11,Colombia,"5,029,335",,"127,766",,"4,870,317",,"31,252",342,...,"27,349,820","529,795","51,623,419",South America,10,404,2,,,605
12,12,Germany,"5,009,388",,"98,159",,"4,477,900","+11,900","433,329","2,828",...,"80,348,721","954,827","84,150,009",Europe,17,857,1,,,"5,149"
13,13,Italy,"4,852,496",,"132,739",,"4,604,645",,"115,112",453,...,"110,356,664","1,828,905","60,340,301",Europe,12,455,1,,,"1,908"
14,14,Indonesia,"4,250,516",,"143,644",,"4,097,675",,"9,197",,...,"49,926,840","179,934","277,472,925",Asia,65,"1,932",6,,,33
15,15,Mexico,"3,844,791","+3,130","291,089",+217,"3,204,910","+2,133","348,792","4,798",...,"11,591,671","88,633","130,782,419",North America,34,449,11,24,2,"2,667"
16,16,Ukraine,"3,217,639","+14,490","76,705",+403,"2,631,240","+11,146","509,694",177,...,"15,225,531","351,025","43,374,518",Europe,13,565,3,334,9,"11,751"
17,17,Poland,"3,190,067",,"78,821",,"2,788,003",,"323,243","1,110",...,"23,017,564","609,092","37,789,953",Europe,12,479,2,,,"8,554"
18,18,South Africa,"2,925,677",,"89,476",,"2,819,307",,"16,894",546,...,"18,893,899","313,179","60,329,481",Africa,21,674,3,,,280
19,19,Philippines,"2,815,080",,"45,272",,"2,740,426",,"29,382","1,292",...,"23,471,922","210,375","111,571,931",Asia,40,"2,464",5,,,263

In [32]:
#CONVERTING THE DATAFRAME INTO AN EXCEL FILE

df.to_excel('WORLDCOVID_19.xlsx')